<template>
  <div class="add-data row">
    <div class="input-field col s12 m4 l4 offset-m4 offset-l4">
      <select v-model="selectedRisk">
        <option value disabled selected>Select Risk</option>
        <option :value="index" v-for="(risk, index) in risks" :key="index">{{ risk.name }}</option>
      </select>
    </div>
    <div class="col s12">
      <DynamicForm
        :formConfiguration="risks[selectedRisk] != null && risks[selectedRisk].risk_fields"
        v-if="risks[selectedRisk] != null"
        :key="selectedRisk"
        ref="dataForm"
        v-on:dynamic-form-update="handleDynamicFormUpdates"
      />
    </div>
    <div class="col offset-s4 offset-m5 offset-l5">
      <a
        class="waves-effect waves-light btn tooltipped"
        data-position="right"
        :class="!valid ? 'custom-disabled': ''"
        :data-tooltip="error"
        v-on:click="submit()"
      >Submit</a>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DynamicForm from "@/components/DynamicForm.vue";
import M from 'materialize-css/dist/js/materialize';

export default {
  data: () => ({
    risks: [],
    selectedRisk: 0,
    valid: false,
    formData: {},
    error: null
  }),
  components: {
    DynamicForm
  },
  methods: {
    handleDynamicFormUpdates($event) {
      this.valid = $event.valid;
      this.formData = $event.data;
      // eslint-disable-next-line
      this.error = replaceLast($event.errors
        .filter(error => (error != null ? true : false))
        .map(error => `<span class="error-message">${error}   </br></span>`)
        .join(""), "<br/>", "");

      setTimeout(() => {
        M.Tooltip.init(document.querySelectorAll(".tooltipped"));
      }, 1);
    },
    submit() {
      if (this.valid) {
        var payload = { form_data: this.formData };
        axios
          .post(
            `${this.backendHost}/api/risk/data/${
              this.risks[this.selectedRisk].id
            }`,
            payload,
            { "Content-Type": "application/json" }
          )
          .then(() => {
            M.toast({ html: "Success" }, 3000);
          })
          .catch(error => {
            Object.values(error.response.data.errors).forEach(errorMessage => {
              M.toast({ html: errorMessage }, 3000);
            });
          });
      } else {
        M.toast({ html: this.error }, 3000);
      }
    }
  },
  created: function() {
    axios.get(this.backendHost + "/api/risks").then(response => {
      this.risks = response.data.response;
      setTimeout(() => {
        M.FormSelect.init(document.querySelectorAll("select"));
      }, 1);
    });
  }
};
</script>
<style scoped>
.custom-disabled {
  background-color: #dfdfdf !important;
  color: #9f9f9f !important;
  box-shadow: none;
}
.custom-disabled:hover {
  background-color: #dfdfdf !important;
  color: #9f9f9f !important;
  box-shadow: none;
}
.material-tooltip {
  text-align: left !important;
}
.tooltip-content {
  text-align: left !important;
}
</style>

