<template>
  <RiskForm :formData="formData"/>
</template>

<script>
import RiskForm from "@/components/RiskForm.vue";
import axios from "axios";

export default {
  components: {
    RiskForm
  },
  data: () => ({
      formData: {}
  }),
  created: function() {
    var objectId = this.$route.params.id;
    axios.get(this.backendHost + "/api/risk/" + objectId).then(response => {
      this.formData = response.data.response;
    });
  }
};
</script>
