<template>
  <div class="home">
    <RisksTable :data="risks"/>
    <div class="fixed-action-btn">
      <router-link to="/create-risk" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </router-link>
      <!-- <a >
        <i class="large material-icons">add</i>
      </a> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import RisksTable from "@/components/RisksTable.vue";
import axios from 'axios';

export default {
  name: "home",
  components: {
    RisksTable
  },
  data: () => ({
    risks: [],
  }),
  created() {
    axios.get(this.backendHost + '/api/risks').then(response => {
      this.risks = response.data.response;
    })
  }
};
</script>
