<template>
  <div class="row">
    <div class="input-field col s12 m4 l4 offset-m4 offset-l4">
      <select v-model="selectedRisk">
        <option value disabled selected>Select Risk</option>
        <option :value="index" v-for="(risk, index) in risks" :key="index">{{ risk.name }}</option>
      </select>
    </div>
    <div class="col s12" v-if="risks[selectedRisk] != null">
      <table>
        <thead>
          <tr>
            <th v-for="(riskField, riskFieldIndex) in risks[selectedRisk].risk_fields" :key="riskFieldIndex">{{ riskField.name }}</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(row, index) in data" :key="index">
            <td v-for="(riskField, riskFieldIndex) in risks[selectedRisk].risk_fields" :key="riskFieldIndex">
                {{ row.data[riskField.name] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import M from 'materialize-css/dist/js/materialize';

export default {
  data: () => ({
    risks: [],
    selectedRisk: 0,
    data: []
  }),
  methods: {
    loadData() {
      axios
        .get(
          `${this.backendHost}/api/risk/data/${
            this.risks[this.selectedRisk].id
          }`
        )
        .then(response => {
          this.data = response.data.response;
        });
    }
  },
  created: function() {
    axios.get(this.backendHost + "/api/risks").then(response => {
      this.risks = response.data.response;
      this.loadData();
      setTimeout(() => {
        M.FormSelect.init(document.querySelectorAll("select"));
      }, 1);
    });
  },
  watch: {
    selectedRisk() {
      this.loadData();
    }
  }
};
</script>
