<template>
  <!-- TODO: Abstract these out into their own components -->
  <div class="col s12">
    <div class="class dynamic-form-field" v-for="(field, index) in formConfiguration" :key="index">
      <component
        :is="componentMappings[field.type]"
        v-bind="field.props"
        v-model="values[field.name + id]"
        :name="field.name"
        :required="field.props.required"
        :ref="field.name + id"
        v-on:validation="handleValidation"
      ></component>
    </div>
  </div>
</template>

<script>
import M from "materialize-css/dist/js/materialize";
import BooleanField from "@/components/formFields/BooleanField";
import ChoiceField from "@/components/formFields/ChoiceField";
import DateField from "@/components/formFields/DateField";
import NumberField from "@/components/formFields/NumberField";
import TextField from "@/components/formFields/TextField";

export default {
  props: {
    formConfiguration: {
      type: Array,
      default: () => []
    },
  },
  data: () => ({
    values: {},
    validation: {},
    componentMappings: {
      text: TextField,
      number: NumberField,
      date: DateField,
      bool: BooleanField,
      enum: ChoiceField
    },
    id: null
  }),
  components: {
    TextField,
    NumberField,
    DateField,
    BooleanField,
    ChoiceField
  },
  methods: {
    getFormData: function() {
      var output = {};
      this.formConfiguration.forEach(field => {
        if (this.values[field.name + this._uid] !== null && this.values[field.name + this._uid] !== '') {
          output[field.storeName] = this.values[field.name + this._uid];
        }
      });
      (output);
      
      return output;
    },
    initDynamicForm: function() {
      // TODO: Stop using watch
      this.values = {};
      this.formConfiguration.forEach(field => {
        this.values[field.name + this._uid] = field.value ? field.value : "";
        this.validation[field.name + this._uid] = false;
      });
      setTimeout(() => {
        M.FormSelect.init(document.querySelectorAll("select"));
      }, 10);
    },
    handleValidation($event) {
        ($event);
        
        this.validation[$event.name + this._uid] = {valid: $event.valid, error: $event.error};
        this.$emit('dynamic-form-update', {
          valid: Object.values(this.validation).map(field => field.valid).indexOf(false) == -1,
          data: this.getFormData(),
          errors: Object.values(this.validation).map(field => field.error),
        })
    }
  },
  watch: {
    formConfiguration() {
      this.initDynamicForm();
    }
  },
  created: function() {
    // TODO: If still using watch make code DRY
    this.initDynamicForm();
  },
  mounted() {
    this.id = this._uid;
  }
};
</script>

<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
</style>
