<template>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Fields</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(row, index) in data" :key="index">
        <td>{{ row.name }}</td>
        <td>{{ row.created_at }}</td>
        <td>{{ row.risk_fields.length }}</td>
        <td>
            <a class="waves-effect waves-light btn-small" v-on:click="openEditForm(row.id)">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: {
    data: Array
  },
  methods: {
    openEditForm(id) {
      this.$router.push({name: 'edit-risk', params: { id: id}});
    }
  }
}
</script>
