<template>
  <div id="riskForm" class="row">
    <div class="col s12">
      <div class="input-field col s12 m6">
        <input id="risk_name" type="text" v-model="riskName">
        <label for="risk_name">Risk Name</label>
      </div>
      <div class="input-field col s6 m3">
        <a class="waves-effect waves-light btn" v-on:click="addFieldCard()">Add Field</a>
      </div>
      <div class="input-field col s6 m3">
        <a
          class="waves-effect waves-light btn"
          :disabled="fields.length == 0 || riskName == null || riskName.trim() == ''"
          v-on:click="save()"
        >Save</a>
      </div>
    </div>
    <div class="col l4 m6 s12" v-for="(field, index) in fields" :key="index">
      <div class="card">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6">
                <a class="active" :href="'#declare-' + index">Field</a>
              </li>
              <li class="tab col s6" :class="field.type ? '' : 'disabled'">
                <a :href="'#props-' + index">Field Properties</a>
              </li>
            </ul>
          </div>
          <div :id="'declare-' + index" class="col s12 tab-content">
            <div class="row">
              <div class="input-field col s12">
                <input id="field_name" type="text" v-model="field.name">
                <label for="field_name">Field Name</label>
              </div>
              <div class="input-field col s12">
                <select v-model="field.type" v-on:change="changeType(index)">
                  <option value disabled selected>Choose the type</option>
                  <option value="date">date</option>
                  <option value="number">number</option>
                  <option value="enum">enum</option>
                  <option value="text">text</option>
                </select>
                <label>Field Type</label>
              </div>
              <div class="col s12">
                <a class="waves-effect waves-light btn" v-on:click="deleteField(index)">Delete</a>
              </div>
            </div>
          </div>
          <div :id="'props-' + index" class="col s12 tab-content">
            <DynamicForm :formConfiguration="field.propsForm" :ref="'propsForm' + index" v-on:dynamic-form-update="handlePropsUpdates($event, index)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DynamicForm from "@/components/DynamicForm.vue";
import axios from 'axios';
import M from 'materialize-css/dist/js/materialize';


export default {
  components: {
    DynamicForm
  },
  props: {
    formData: Object,
    name: String,
    id: String,
  },
  data: () => ({
    objectId: "",
    fields: [],
    riskName: "",
    fieldPropsForm: {
      date: [
        {
          name: "Input Format",
          props: {},
          value: "",
          type: "text",
          storeName: "input_format",
        },
        {
          name: "Output Format",
          props: {},
          value: "",
          type: "text",
          storeName: "output_format",
        },
        {
          name: "Required",
          props: {},
          value: "",
          type: "bool",
          storeName: "required",
        }
      ],
      text: [
        {
          name: "Max Length",
          props: {},
          value: "",
          type: "number",
          storeName: "max_length",
        },
        {
          name: "Required",
          props: {},
          value: "",
          type: "bool",
          storeName: "required",
        }
      ],
      number: [
        {
          name: "Min",
          props: {},
          value: "",
          type: "number",
          storeName: "min_value",
        },
        {
          name: "Max",
          props: {},
          value: "",
          type: "number",
          storeName: "max_value",
        },
        {
          name: "Allow Floating Points",
          props: {},
          value: "",
          type: "bool",
          storeName: "allow_floating_point",
        },
        {
          name: "Required",
          props: {},
          value: "",
          type: "bool",
          storeName: "required",
        }
      ],
      enum: [
        {
          name: "Comma Seperated Choices",
          props: {},
          value: "",
          type: "text",
          storeName: "choices",
        },
        {
          name: "Required",
          props: {},
          value: "",
          type: "bool",
          storeName: "required",
        }
      ]
    }
  }),
  methods: {
    changeType(index) {
      this.fields[index].propsForm = this.fieldPropsForm[this.fields[index].type]
    },
    addFieldCard() {
      this.fields.push({ name: "", type: "" });
      this.reRenderMaterializeControls();
    },
    reRenderMaterializeControls: () => {
      setTimeout(() => {
        M.Tabs.init(document.querySelectorAll(".tabs"));
        M.FormSelect.init(document.querySelectorAll("select"));
        M.updateTextFields();
      }, 1);
    },
    handlePropsUpdates($event, index) {
      this.fields[index].props = $event.data;
    },
    save() {
      var fields = [];
      var payload = {
        name: this.riskName,
        fields: this.fields,
      };
      if (this.objectId != "" && this.objectId != null) {
        axios.put(this.backendHost + '/api/risk/' + this.objectId, payload, {'Content-Type': 'application/json'})
          .then(() => {
            M.toast({html: "Success"}, 3000)
          }).catch(error => {
            Object.values(error.response.data.errors).forEach(errorMessage => {
              M.toast({html: errorMessage}, 3000);
            });
          });
      } else {
        axios.post(this.backendHost + '/api/risks', payload, {'Content-Type': 'application/json'})
          .then(() => {
            M.toast({html: "Success"}, 3000)
          }).catch(error => {
            Object.values(error.response.data.errors).forEach(errorMessage => {
              M.toast({html: errorMessage}, 3000);
            });
          });
      }
    },
    deleteField(index) {
      this.fields.splice(index, 1);
    }
  },
  watch: {
    formData() {
      if (this.formData) {
        for (let i = 0; i < this.formData.risk_fields.length; i++) {
          var propsForm = this.fieldPropsForm[this.formData.risk_fields[i].type];
          propsForm = propsForm.map(prop => {
            var _prop = {...prop}
            _prop.value = this.formData.risk_fields[i].props[prop.storeName];
            return _prop;
          });
          this.formData.risk_fields[i].propsForm = propsForm;
        }

        this.fields = this.formData.risk_fields;
        this.objectId = this.formData.id;
        this.riskName = this.formData.name;
        this.reRenderMaterializeControls();
      }
    }
  },
};
</script>


<style scoped>
div.tab-content {
  padding: 20px;
}
a.btn {
  width: 100%;
}
</style>

