<template>
  <div class="input-field">
    <div class="switch">
      <label>
        {{name}}
        <input type="checkbox" :id="'formField'+id" :checked="value" @input="onInput">
        <span class="lever"></span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: null,
    name: String,
  },
  data() {
    return {
      id: null,
      error: null
    };
  },
  methods: {
    validate() {
        return true;
    },
    onInput($event) {
        this.$emit('input', $event.target.checked);
        if (this.validate()) {
            this.$emit('validation', {name: this.name, valid: true});
        } else {
            this.$emit('validation', {name: this.name, valid: false, error: this.error});
        }
    },
  },
  mounted() {
    this.id = this._uid;
    this.validate();
    this.$emit('validation', {name: this.name, valid: false, error: this.error});
  },
};
</script>
