<template>
    <div class="input-field">
        <select
            :value="value"
            @input="onInput"
            :id="'formField'+ id"
            class="browser-default"
        >
          <option value disabled selected>{{name}}</option>
          <option
            v-for="(choice, choiceIndex) in choices"
            :key="choiceIndex"
            :value="choice"
          >{{ choice }}</option>
        </select>
    </div>
</template>

<script>
import M from 'materialize-css/dist/js/materialize';

export default {
    props: {
        value: null,
        name: String,
        choices: null,
        required: Boolean,
    },
    data () {
        return {
            id: null,
            error: null,
        }
    },
    methods: {
        validate(value) {
            if (this.required) {
                if (value != null && value.trim() != '') {
                    return true;
                } else {
                    this.error = `${this.name} is required`;
                    return false;
                }
            }
            return true;
        },
        onInput($event) {
            this.$emit('input', $event.target.value);
            
            if (this.validate($event.target.value)) {
                this.$emit('validation', {name: this.name, valid: true});
            } else {
                this.$emit('validation', {name: this.name, valid: false, error: this.error});
            }
        },
    },
    mounted () {
        this.id = this._uid;
        this.validate();
        this.$emit('validation', {name: this.name, valid: false, error: this.error});
    },
    created() {
        setTimeout(() => {
            M.FormSelect.init(document.querySelectorAll(`#formField${this.id}`));
        }, 1);
    }
}
</script>
