<template>
    <div class="input-field">
        <input
            :id="'formField'+id"
            type="date"
            :value="value"
            @input="onInput"
            class="datepicker"
        >
        <label :for="id">{{ name }}</label>
    </div>
</template>

<script>
import moment from "moment";

export default {
    props: {
        value: null,
        input_format: String,
        name: String,
        required: Boolean
    },
    data () {
        return {
            id: null,
            moment: moment,
            result: "",
            error: null,
        }
    },
    methods: {
        format(value) {
            return moment(
              new Date(value)
            ).format(this.input_format.replace(/%/g, "").toUpperCase());
        },
        onInput($event) {
            this.$emit('input', this.format($event.target.value));
            
            if (this.validate($event.target.value)) {
                this.$emit('validation', {name: this.name, valid: true});
            } else {
                this.$emit('validation', {name: this.name, valid: false, error: this.error});
            }
        },
        validate(value) {
            if (this.required) {
                if (value != null && value.trim() != '') {
                    return true;
                } else {
                    this.error = `${this.name} is required`;
                    return false;
                }
            }
            return true;
        },
        emitResult () {
            this.$emit('input', this.result)
        },
    },
    mounted () {
        this.id = this._uid;
        this.validate();
        this.$emit('validation', {name: this.name, valid: false, error: this.error});
    },
}
</script>
