<template>
    <div class="input-field">
        <input
            :id="'formField'+id"
            type="number"
            :value="value"
            @input="onInput"
        >
        <label :for="id">{{ name }}</label>
    </div>
</template>

<script>
export default {
    props: {
        value: null,
        max_value: Number,
        min_value: Number,
        name: String,
        required: Boolean,
    },
    data () {
        return {
            id: null,
            error: null,
        }
    },
    methods: {
        onInput($event) {
            this.$emit('input', $event.target.value);
            if (this.validate($event.target.value)) {
                this.$emit('validation', {name: this.name, valid: true});
            } else {
                this.$emit('validation', {name: this.name, valid: false, error: this.error});
            }
        },
        validate(value) {
            var result = true;
            if (this.required) {
                if (value != null && value.trim() != '') {
                    result = true;
                } else {
                    this.error = `${this.name} is required`;
                    result = false;
                }
            }

            if (this.min_value && result) {
                if (value <= this.min_value) {
                    result = false;
                    this.error = `${this.name} must be greater than ${this.min_value}`;
                }
            }
            if (this.max_value && result) {
                if (value >= this.max_value) {
                    result = false;
                    this.error = `${this.name} must be less than equal to ${this.max_value}`;
                }
            }
            return result;
        }
    },
    mounted () {
        this.id = this._uid;
        this.validate();
        this.$emit('validation', {name: this.name, valid: false, error: this.error});
    }
}
</script>

<style scoped>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    }
</style>
