<template>
    <div class="input-field">
        <input
            :id="'formField'+id"
            type="text"
            :data-length="max_length"
            :value="value"
            @input="onInput"
        >
        <label :for="id">{{ name }}</label>
    </div>
</template>

<script>
import M from 'materialize-css/dist/js/materialize';

export default {
    props: {
        value: null,
        max_length: Number,
        name: String,
        required: Boolean
    },
    data () {
        return {
            id: null,
            error: null,
        }
    },
    methods: {
        onInput($event) {
            this.$emit('input', $event.target.value);
            if (this.validate($event.target.value)) {
                this.$emit('validation', {name: this.name, valid: true, error: null});
            } else {
                this.$emit('validation', {name: this.name, valid: false, error: this.error});
            }
        },
        validate(value) {
            if (this.required) {
                if (value != null && value.trim() != '') {
                    return true;
                } else {
                    this.error = `${this.name} is required`;
                    return false;
                }
            }
            return true;
        }
    },
    mounted () {
        this.id = this._uid;
        this.validate();
        this.$emit('validation', {name: this.name, valid: false, error: this.error});
    },
    created() {
        if (this.max_length) {
            setTimeout(() => {
                M.CharacterCounter.init(document.querySelectorAll(`#formField${this.id}`));
            }, 1);
        }
    }
}
</script>
