<template>
  <div>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Risks App</a>
        <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-sidenav">
            <li><router-link to="/">Risks</router-link></li>
            <li><router-link to="/add-data">Add Data</router-link></li>
            <li><router-link to="/view-data">View Data</router-link></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><router-link to="/">Risks</router-link></li>
          <li><router-link to="/add-data">Add Data</router-link></li>
          <li><router-link to="/view-data">View Data</router-link></li>
        </ul>
      </div>
    </nav>
    <router-view class="container"/>
  </div>
</template>
